
/Library
/Logs
/Temp
/obj
Assembly-CSharp.csproj
*.csproj
/UserSettings
/UserSettings
/UserSettings
/UserSettings
/UserSettings
/UserSettings
/UserSettings
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp.Player.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.csproj
GpuSkinningPlugin.sln
UserSettings/Layouts/default-2021.dwlt
UserSettings/EditorUserSettings.asset
