
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
Temp/FSTimeGet-7482e901ac7bd49cf91a3baea5521297
Temp/__Backupscenes/0.backup
obj/Debug/Assembly-CSharp.Player.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
Logs/AssetImportWorker1.log
Logs/AssetImportWorker0.log
Library/StateCache/MainStageHierarchy/9b/9bc1eed35afe8f50413a156a23a2fae0.json
Library/SourceAssetDB
Library/ShaderCache.db
Library/Search/transactions.db
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/SceneVisibilityState.asset
Library/ProtocolInstance.json
Library/Bee/TundraBuildState.state.map
Library/Bee/TundraBuildState.state
Library/Bee/tundra.log.json
Library/Bee/tundra.digestcache
Library/Bee/fullprofile.json
Library/Bee/backend_profiler0.traceevents
Library/Bee/artifacts/200b0aEDbg.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/200b0aEDbg.dag/Assembly-CSharp.dll
Library/Artifacts/fa/fa0eb5a69e1e6bf2d43ffb5660e5c697
Library/ArtifactDB
Temp/FSTimeGet-7482e901ac7bd49cf91a3baea5521297
Temp/__Backupscenes/0.backup
obj/Debug/Assembly-CSharp.Player.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
Logs/AssetImportWorker1.log
Logs/AssetImportWorker0.log
Library/StateCache/MainStageHierarchy/9b/9bc1eed35afe8f50413a156a23a2fae0.json
Library/SourceAssetDB
Library/ShaderCache.db
Library/Search/transactions.db
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/SceneVisibilityState.asset
Library/ProtocolInstance.json
Library/Bee/TundraBuildState.state.map
Library/Bee/TundraBuildState.state
Library/Bee/tundra.log.json
Library/Bee/tundra.digestcache
Library/Bee/fullprofile.json
Library/Bee/backend_profiler0.traceevents
Library/Bee/artifacts/200b0aEDbg.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/200b0aEDbg.dag/Assembly-CSharp.dll
Library/ArtifactDB
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/9b/9bc1eed35afe8f50413a156a23a2fae0.json
Library/ArtifactDB
/Library
/Library
/obj/Debug
/obj
/obj/Debug
/Temp
/obj
/Logs
/Library
